{% extends 'Base.html' %}
{% load static %}
{% block my_agency %}active{% endblock %}
{% block content %}
{% include 'navbar_1.html' %}
 <!-- page title area start -->
 <div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>My Agency</span></li>    
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="/static/assets/images/author/avatar.png" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{request.user}}<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- page title area end -->
<!-- My Agency Table start -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">My Agency</h4>
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table  progress-table">
                        <thead class="text-uppercase" style="background-color: #4336fb; color: white">
                            <tr>
                                <th colspan="4"><h4 style="font-family: -Roboto, sans-serif;">{{data.agency_name}}</h4></th>                                
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr>
                                <td rowspan="4"><span class="d-flex"> <img src="http://dummyimage.com/200x200/000/fff"></span></td>
                                <td>LICENCE#</td>
                                <td>{{data.license_no}}</td>                                    
                            </tr>
                            <tr>
                                <td>UEN#</td>
                                <td> {{data.uen}}</td>            
                            </tr>
                            <tr>                                           
                                <td>GST REG#</td>
                                <td>{{data.gst_registration}}</td>
                            </tr>                            
                            <tr>
                                <td>SUB-DOMAIN URL</td>
                                <td>{{data.sub_domain_url}}</td>                                                               
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <ul class="d-flex">
                                        <li class="mr-3"><a href="myagencyedit"><button type="button" class="btn btn-primary btn-xs mb-3"><i class="fa fa-edit"></i> &nbsp;Edit Logo</button></a></li>
                                    </ul>
                                </td>                                          
                                <td>MAIN WEBSITE</td>
                                <td>...</td>                                   
                            </tr>
                            <tr>                                           
                                <td>FISCAL YEAR</td>
                                <td>{{data.fiscal_year}}</td> 
                                <td rowspan="6">
                                    <ul class="d-flex justify-content-center">
                                        <li class="mr-3"> <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#editagency"><i class="fa fa-edit"></i></button></li>
                                         <!-- Edit Agency Modal -->
                                         <div class="modal fade" id="editagency">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit</h5>
                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!--Modal Table Start-->
                                                        <div class="single-table">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered text-center">
                                                                    <thead class="text-uppercase">
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>AGENCY NAME</td>
                                                                            <td>SHREE NAKODA EMPLOYMENT AGENCY</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Licence#</td>
                                                                            <td>{{data.license_no}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>UEN#</td>
                                                                            <td>53380603L</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Sub-domain URL                                                                                      </td>
                                                                            <td>To update Sub-domain URL, please contact eazyMaid Administrator</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Main Website </td>
                                                                            <td>To update website URL, please contact eazyMaid Administrator</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                    </div>
                                                    <!--Modal Table End-->
                                                    <!--Modal Form Start-->
                                                    <form method="POST" action="{% url 'agency_profile' user.profile.id %}">{% csrf_token %}
                                                        <div class="form-group mt-2">
                                                            <label for="GST">
                                                                GST REG#</label>
                                                            <input type="text" class="form-control" name="gst" id="GST" aria-describedby="" placeholder="...">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fiscal_year">Fiscal Year Settings</label>
                                                            <input type="date" class="form-control" id="fiscal_year" name="fiscal_year" aria-describedby="" placeholder="...">
                                                        </div>
                                                        <!-- <button class="btn btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                                        <div class="dropdown-menu ">
                                                            <a class="dropdown-item" href="#">Monday</a>
                                                            <a class="dropdown-item" href="#">Tuesday</a>
                                                            <a class="dropdown-item" href="#">Wednesday</a>
                                                            <a class="dropdown-item" href="#">Thursday</a>
                                                            <a class="dropdown-item" href="#">Friday</a>
                                                            <a class="dropdown-item" href="#">Saturday</a>
                                                            <a class="dropdown-item" href="#">Sunday</a>
                                                        </div>
                                                        <button class="btn btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Monday</a>
                                                            <a class="dropdown-item" href="#">Tuesday</a>
                                                            <a class="dropdown-item" href="#">Wednesday</a>
                                                            <a class="dropdown-item" href="#">Thursday</a>
                                                            <a class="dropdown-item" href="#">Friday</a>
                                                            <a class="dropdown-item" href="#">Saturday</a>
                                                            <a class="dropdown-item" href="#">Sunday</a>
                                                        </div> -->
                                                        <div class="form-group col-md-12 text-center"></div>
                                                            <button type="submit" class="btn btn-success mt-1">Submit</button>
                                                        </div>
                                                    </form>
                                                    <!--Modal Form End-->                                                    
                                                </div>
                                            </div>
                                            <!-- Edit Agency Modal End -->
                                        </div>
                                    </ul>
                                </td>
                            </tr>                   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Agency Table end -->
<!-- Info tabs start -->
<div class="col-lg-12 mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                    <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Address</a>
                    <a class="nav-item nav-link" id="nav-branches-tab" data-toggle="tab" href="#nav-branches" role="tab" aria-controls="nav-branches" aria-selected="false">Branches</a>
                    <a class="nav-item nav-link" id="nav-office-tab" data-toggle="tab" href="#nav-office" role="tab" aria-controls="nav-office" aria-selected="false">Office Hours</a>
                    <a class="nav-item nav-link" id="nav-accreditation-tab" data-toggle="tab" href="#nav-accreditation" role="tab" aria-controls="nav-accreditation" aria-selected="false">Accreditation</a>
                    <a class="nav-item nav-link" id="nav-awards-tab" data-toggle="tab" href="#nav-awards" role="tab" aria-controls="nav-awards" aria-selected="false">Awards</a>
                    <a class="nav-item nav-link" id="nav-social-tab" data-toggle="tab" href="#nav-social" role="tab" aria-controls="nav-social" aria-selected="false">Social Media</a>
                </div>
            </nav>
            <div class="tab-content mt-3 mb-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="d-flex justify-content-end">
                        <h4 class="header-title text-primary"> <td><button type="button" class="btn btn-primary btn-xs mb-3"><i class="fa fa-edit"></i></button></td></h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p>No records...</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                    <!-- Bordered Table start -->
                        <div class="col-lg-12 mt-3">
                           
                                    <!-- Button trigger modal -->
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary btn-xs mb-3" data-toggle="modal" data-target="#agencyEditAddress"> <i class="fa fa-edit"></i> &nbsp;EDIT</button>
                                    </div>
                                    <!-- Modal start -->
                                    <div class="modal fade" id="agencyEditAddress">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Address</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form  method="post" action="{% url 'address_update'  user.profile.id %}"> {% csrf_token %}
                                                        <div class="form-group">
                                                            <label >Agency Name</label>
                                                            <p  class="form-text text-muted">SHREE NAKODA EMPLOYMENT AGENCY</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="agencyAddress">Address</label>
                                                            <input type="text" class="form-control" name="agency_address" id="agencyAddress"  placeholder="03-20, blk 200A Sengkang East Road ">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="agencyContactPerson"> Contact Person </label>
                                                            <input type="text" class="form-control" name="agency_contact_person_name" id="agencyContactPerson" placeholder="Neha Lunia">
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <label for="agencyTelephone"> Telephone</label>
                                                            <input type="text" class="form-control" id="agencyTelephone" placeholder="87861169">
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label for="agencyMobile">Mobile</label>
                                                            <input type="text" class="form-control" name="agency_mobile" id="agencyMobile" placeholder="">
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <label for="agencyFax">Fax</label>
                                                            <input type="text" class="form-control" id="agencyFax" placeholder="">
                                                        </div> -->
                                                        <!-- <div class="form-group">
                                                            <label for="agencyEmail">Email</label>
                                                            <input type="email" class="form-control" id="agencyEmail"  placeholder="shreenakoda.ea@gmail.com">
                                                        </div> -->
                                                        <button type="submit" class="btn btn-success mt-3 pr-4 pl-4">Save Data</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                    <div class="single-table">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="text-uppercase">
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>AGENCY NAME</td>
                                                        <td>{{data.agency_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ADDRESS</td>
                                                        <td>{{data.address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CONTACT PERSON</td>
                                                        <td>{{data.contact_person_name}}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td>TELEPHONE</td>
                                                        <td>{{data.contact_person_number}}</td>
                                                    </tr> -->
                                                    <tr>
                                                        <td>MOBILE NUMBER</td>
                                                        <td>{{data.contact_person_number}}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td>FAX</td>
                                                        <td>...</td>
                                                    </tr> -->
                                                    <tr>
                                                        <td>EMAIL</td>
                                                        <td>{{user.email}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                              
                        </div>
                        <!-- Bordered Table end -->
                </div>
                <div class="tab-pane fade" id="nav-branches" role="tabpanel" aria-labelledby="nav-branches-tab">
                    <!-- Bordered Table start -->
                    <div class="col-lg-12 mt-3">
                        
                               <!-- Button trigger modal -->
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-success btn-xs mb-3" data-toggle="modal" data-target="#agencyAddBranch"><i class="fa fa-plus-square"></i> &nbsp;ADD BRANCH</button>
                                </div>
                                <!-- Modal start -->
                                <div class="modal fade" id="agencyAddBranch">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Branch</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form  method="post" action="{% url 'add_branch' %}"> {% csrf_token %}
                                                    <div class="form-group">
                                                        <label  for="agencyBranchName">Branch Name</label>
                                                        <input type="text" class="form-control" name="branch_name" placeholder="Neha Lunia">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="agencyAddress">Address</label>
                                                        <input type="text" class="form-control" name="branch_address"  placeholder=" ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="agencyContactPerson"> Contact Person </label>
                                                        <input type="text" class="form-control" name="contact_person_name" placeholder=" ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="agencyTelephone"> Mobile 1</label>
                                                        <input type="text" class="form-control" name="mobile_no1" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="agencyMobile">Mobile 2</label>
                                                        <input type="text" class="form-control" name="mobile_no2" placeholder="">
                                                    </div>
                                                    <!-- <div class="form-group">
                                                        <label for="agencyFax">Fax</label>
                                                        <input type="text" class="form-control" id="agencyFax" placeholder="">
                                                    </div> -->
                                                    <div class="form-group">
                                                        <label for="agencyEmail">Email</label>
                                                        <input type="email" class="form-control" name="branch_email"  placeholder="">
                                                    </div>
                                                    <button type="submit" class="btn btn-success mt-3 pr-4 pl-4">Save Data</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered text-center">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">BRANCH NAME</th>
                                                    <th scope="col">ADDRESS</th>
                                                    <th scope="col">CONTACT PERSON</th>
                                                    <th scope="col">MOBILE NO. 1</th>
                                                    <th scope="col">MOBILE NO. 2</th>
                                                    <!-- <th scope="col">FAX</th> -->
                                                    <th scope="col">EMAIL</th>
                                                    <!-- <th scope="col">ORDER</th> -->
                                                    <th scope="col">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for branch in branches %}                                                
                                                <tr>
                                                    <td>{{branch.id}}</td>
                                                    <td>{{branch.branch_name}}</td>
                                                    <td>{{branch.address}}</td>
                                                    <td>{{branch.contact_person_name}}</td>
                                                    <td>{{branch.mobile_number1}}</td>
                                                    <td>{{branch.mobile_number2}}</td>
                                                    <td>{{branch.email}}</td>
                                                    <td>
                                                        <a data-toggle="modal" data-target="#agencyEditBranches" id="1"><i class="fa fa-edit fa-lg"></i></a>
                                                        <a href="{% url 'delete_branch' branch.id %}"><i class="fa fa-trash-o fa-lg"></i></a>
                                                    </td>
                                                </tr>

                                                <div class="modal fade" id="agencyEditBranches">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit Branches</h5>
                                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label  for="agencyBranchName">Branch Name</label>
                                                                        <input type="text" class="form-control" id="agencyBranchName" value="{{branch.branch_name}}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="agencyAddress">Address</label>
                                                                        <input type="text" class="form-control" id="agencyAddress"  placeholder=" ">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="agencyContactPerson"> Contact Person </label>
                                                                        <input type="text" class="form-control" id="agencyContactPerson" placeholder=" ">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="agencyTelephone"> Mobile 1</label>
                                                                        <input type="text" class="form-control" id="agencyTelephone" placeholder="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="agencyMobile">Mobile 2</label>
                                                                        <input type="text" class="form-control" id="agencyMobile" placeholder="">
                                                                    </div>
                                                                    <!-- <div class="form-group">
                                                                        <label for="agencyFax">Fax</label>
                                                                        <input type="text" class="form-control" id="agencyFax" placeholder="">
                                                                    </div> -->
                                                                    <div class="form-group">
                                                                        <label for="agencyEmail">Email</label>
                                                                        <input type="email" class="form-control" id="agencyEmail"  placeholder="">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-success mt-3 pr-4 pl-4">Save Data</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                    </div>
                     <!-- Bordered Table end -->
                </div>
                <div class="tab-pane fade" id="nav-office" role="tabpanel" aria-labelledby="nav-office-tab">
                    <!-- Bordered Table start -->
                    <div class="row">
                        <!-- <div class="col-lg-12 ">                                                            -->
                            
                            
                            
                        <!-- </div> -->
                    </div> 
                    <!-- Bordered Table start -->
                </div>
                <div class="tab-pane fade" id="nav-accreditation" role="tabpanel" aria-labelledby="nav-accreditation-tab">
                   <!-- Bordered Table start -->
                    <div class="col-lg-12 mt-3">
                        
                                <div class="d-flex justify-content-end">
                                      <!-- Button trigger modal -->
                                      <button type="button" class="btn btn-primary btn-xs " data-toggle="modal" data-target="#agencyAccreditation"><i class="fa fa-plus-square"></i> &nbsp;ADD</button>
                                </div>
                                <!-- basic modal start -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="agencyAccreditation">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add Accreditation</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="agencyAccreditationName">Name of Accreditation</label>
                                                                    <input type="email" class="form-control" id="agencyAccreditationName" aria-describedby="emailHelp" placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Logo</label>
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success">Save Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                <!-- basic modal end -->
                                <div class="single-table mt-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered text-center">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">NAME OF THE ACCREDITATION</th>
                                                    <th scope="col">LOGO</th>
                                                    <th scope="col">ORDER</th>
                                                    <th scope="col">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th colspan="10">No Records</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                           
                    </div>
                     <!-- Bordered Table end -->
                </div>
                <div class="tab-pane fade" id="nav-awards" role="tabpanel" aria-labelledby="nav-awards-tab">
                    <!-- Bordered Table start -->
                    <div class="col-lg-12 mt-3">
                        
                                <div class="d-flex justify-content-end">
                                     <!-- Button trigger modal -->
                                     <button type="button" class="btn btn-primary btn-xs " data-toggle="modal" data-target="#agencyAwards"><i class="fa fa-plus-square"></i> &nbsp;ADD</button>
                                </div>
                                <!-- basic modal start -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="agencyAwards">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Add Award</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="agencyAccreditationName">Name of Award</label>
                                                                    <input type="text" class="form-control" id="agencyAwardName"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Logo</label>
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success">Save Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                <!-- basic modal end -->
                                <div class="single-table mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered text-center">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">NAME OF THE AWARD</th>
                                                    <th scope="col">LOGO</th>
                                                    <th scope="col">ORDER</th>
                                                    <th scope="col">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th colspan="10">No Records</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                    </div>
                     <!-- Bordered Table end -->
                </div>
                <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-social-tab">
                    <!-- Bordered Table start -->
                        <div class="col-lg-12 mt-3">
                            
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary btn-xs mb-3" data-toggle="modal" data-target="#agencyEditSocials"> <i class="fa fa-edit"></i> &nbsp;EDIT</button>
                                    </div>
                                    <!-- basic modal start -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="agencyEditSocials">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit Social Media</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="agencySocialLink1">Facebook Link  </label>
                                                                    <input type="text" class="form-control" id="agencyAwardName"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="agencySocialLink2">Twitter Link</label>
                                                                    <input type="text" class="form-control" id="agencyAwardName"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="agencySocialLink3">Google Plus Link</label>
                                                                    <input type="text" class="form-control" id="agencyAwardName"  placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="agencySocialLink4">LinkedIn Link</label>
                                                                    <input type="text" class="form-control" id="agencyAwardName"  placeholder="">
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success">Save Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                <!-- basic modal end -->
                                    <h4 class="header-title">SOCIAL LINKS</h4>
                                    <div class="single-table">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center">
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fa fa-facebook-f"></i></td>
                                                        <td>N/A </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-twitter"></i></td>
                                                        <td>N/A </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-google-plus"></i></td>
                                                        <td>N/A </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-linkedin"></i></td>
                                                        <td>N/A </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            
                        </div>
                        <!-- Bordered Table End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Info tabs end -->
{% endblock%}