<div class="col">
    <div class="row rowleft">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" checked class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">Select All</label>
        </div>
        <button type="button" class="btn btn-success btn-md mb-1 mr-1 "> <i class="fa fa-download"></i> Download
            Selected Forms</button>
        <button type="button" class="btn btn-primary btn-md mb-1 mr-1"> <i class="fa fa-print"></i> print Selected
            Forms</button>       
    </div>  
        <div class="row rowleft">
            <div class="card">              
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-left ">                               
                                <tbody>
                                    <tr>                                        
                                        <td >
                                            <div class="custom-control  custom-checkbox custom-control-inline">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">Standard Employment Contract between FDW and Employer</label>                                              
                                            </div>                                                                                        
                                        </td>
                                        <td>
                                                <i class="fa fa-edit mr-1 "></i>
                                                <i class="fa fa-file-pdf-o mr-1"></i>
                                                <i class="fa fa-print mr-1"></i>
                                                <i class="fa fa-share"></i>
                                        </td>   
                                        <td >
                                            <div class="custom-control  custom-checkbox custom-control-inline">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">Standard Employment Contract between FDW and Employer</label>                                                
                                            </div>                                                                                        
                                        </td>
                                        <td>
                                                <i class="fa fa-edit mr-1 "></i>
                                                <i class="fa fa-file-pdf-o mr-1"></i>
                                                <i class="fa fa-print mr-1"></i>
                                                <i class="fa fa-share"></i>
                                        </td>                                

                                        <td >
                                            <div class="custom-control  custom-checkbox custom-control-inline">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">Standard Employment Contract between FDW and Employer</label>                                                
                                            </div>                                                                                        
                                        </td>
                                        <td>
                                                <i class="fa fa-edit mr-1 "></i>
                                                <i class="fa fa-file-pdf-o mr-1"></i>
                                                <i class="fa fa-print mr-1"></i>
                                                <i class="fa fa-share"></i>
                                        </td>                                
                                    </tr>                                                        
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>