{% extends 'Base.html' %}
{% load static %}
{% block agents %}active{% endblock %}
{% block content %}

{% include 'navbar_1.html' %}

<!-- page title area start -->

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Agents</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="/static/assets/images/author/avatar.png" alt="avatar">
                <!-- sdfd -->
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{request.user}}<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    </div> 
    <!-- page title area end -->
            <!-- Progress Table start -->

            {%  if messages %}
    {%for message in messages%}
        <div class="alert {{message.tags}} alert-dismissible fade show mt-2 ml-5 w-50 position-absolute" style="z-index: 1;" id="notification" role="alert">            
            {{message}}
            
        </div>
    {%endfor%}
{%endif%}
    <div class="main-content-inner">

        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4 my-1">
                                <label class="sr-only" for="inlineFormInputName"> Search</label>
                                <input type="text" class="form-control form-control-sm" id="inlineFormInputName" placeholder="Enter Agent Name Here">
                            </div>
                            
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> &nbsp; Submit</button>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-close"></i> &nbsp;Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row " style="display: flex;">
                            <div class="col-sm-12 col-md-6">
                                <h4 class="header-title">All Agents List</h4>
                            </div>
                            <div class="col-sm-12 col-md-6"> 
                                <a href="Local_Individual">
                                    <button style="float: right;" type="button" class="btn btn-flat btn-success btn-xs mb-3"><i class="fa fa-plus"></i> Add Agent</button>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table table-hover  text-center table_with_s/n">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">AGENT NAME</th>
                                                    <th scope="col">TYPE</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">Contact Person Name</th>
                                                    <th scope="col">MOBILE NO.</th>
                                                    <th scope="col">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                               
                                                {% for agent in agents %}
                                                <tr>
                                                    <!-- <th scope="row">0</th> -->
                                                    <td>0</td>
                                                    <!-- <td>{{agent.agent_name}}</td> -->
                                                    <td><a href="{% url 'agent_profile' agent.id %}">{{agent.agent_name}}</a> </td>
                                                    <td>{{agent.agent_type}} </td>
                                                    <td>{{agent.email}}</td>
                                                    <td>{{agent.contact_person_name}}</td>
                                                    <td>{{agent.contact_person_number}}</td>
                                                    <!-- <td>
                                                        <ul class="d-flex">
                                                            <a href="#" ><i class="fa fa-check-circle fa-lg mr-1 "></i></a>
                                                            <a href="#" ><i class="fa fa-edit fa-lg mr-1"></i></a>
                                                            <a href="#" ><i class="ti-trash fa-lg"></i></a>
                                                        </ul>
                                                    </td> -->
                                                    <td>                                                   
                                                    <a href="{% url 'edit_individual_agents' agent.id%}"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                                                     &nbsp;<a href="{% url 'delete_agent' agent.id %}" onclick='return confirm("Do you confirm to delete agent- {{agent.agent_name}} ?")'><i class="fa fa-trash fa-lg"></i></a></td>
                                                </tr>
                                                {% endfor %}

                                                {% for company in companies %}
                                                <tr>                                                    
                                                    <td>0</td>                                                   
                                                    <td><a href="{% url 'company_profile' company.id %}">{{company.company_name}}</a> </td>
                                                    <td>{{company.agent_type}} </td>
                                                    <td>{{company.email}}</td>
                                                    <td>{{company.contact_person_name}}</td>
                                                    <td>{{company.contact_person_number}}</td>                                                    
                                                    <td>                                                                                                    
                                                    <a href="{% url 'edit_company_agents' company.id%}"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;                                                                                                       
                                                     &nbsp;<a href="{% url 'delete_company' company.id %}" onclick='return confirm("Do you confirm to delete agent- {{company.company_name}} ?")'><i class="fa fa-trash fa-lg"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            
                            
                    </div>
                </div>
            </div>
    </div>  <!-- container div end -->

{% endblock%}
{% block js %}
<script>
    setTimeout(function () {
        // Closing the alert
        $('#notification').alert('close');
    }, 5000);
</script>
{% endblock %}