<div class="row">        
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-edit"></i> Edit</button>
    <div class="modal fade bd-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Medical Details</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="POST" action="{% url 'edit_medical' data.id%}" nonvaidate>{% csrf_token %}
                        <div class="row">
                            <div class="col">                                            

                                <label class="col-form-label col-4" for="validationCustom01">Mental illness </label>                                                                    
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.mental_illness == True %}
                                    <input type="radio" checked id="mental_illness_1" name="mental_illness" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="mental_illness_1" name="mental_illness" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="mental_illness_1">Yes</label>                                    
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.mental_illness == False %}
                                    <input type="radio" checked id="mental_illness_2" name="mental_illness" value="False" class="custom-control-input"> 
                                    {%else%}
                                    <input type="radio" id="mental_illness_2" name="mental_illness" value="False" class="custom-control-input"> 
                                    {%endif%}
                                    <label class="custom-control-label" for="mental_illness_2">No</label>
                                </div> 

                                <label class="col-form-label col-4" for="validationCustom01">Asthma </label>                                                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.asthma == True %}
                                    <input type="radio" checked id="asthma_1" name="asthma" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="asthma_1" name="asthma" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="asthma_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.asthma == False %}
                                    <input type="radio" checked id="asthma_2" name="asthma" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="asthma_2" name="asthma" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="asthma_2">No</label> 
                                </div> 

                                
                                <label class="col-form-label col-4" for="validationCustom01">Hypertension </label>
                                
                        
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.hyper_tension == True %}
                                    <input type="radio" checked id="hypertension_1" name="hypertension" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="hypertension_1" name="hypertension" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="hypertension_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.hyper_tension == False %}
                                    <input type="radio" checked id="hypertension_2" name="hypertension" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="hypertension_2" name="hypertension" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="hypertension_2">No</label> 
                                </div> 

                                
                                <label class="col-form-label col-4" for="validationCustom01">Heart disease</label>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.heart_disease == True %}
                                    <input type="radio" checked id="heart_disease_1" name="heart_disease" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="heart_disease_1" name="heart_disease" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="heart_disease_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.heart_disease == False %}
                                    <input type="radio" checked id="heart_disease_2" name="heart_disease" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="heart_disease_2" name="heart_disease" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="heart_disease_2">No</label>
                                </div>

                                
                                <label class="col-form-label col-4" for="validationCustom01">Operations </label>                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.operations == True %}
                                    <input type="radio" checked id="operations_1" name="operations" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="operations_1" name="operations" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="operations_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.operations == False %}
                                    <input type="radio" checked id="operations_2" name="operations" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="operations_2" name="operations" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="operations_2">No</label> 
                                </div> 

                                
                                <label class="col-form-label col-4" for="validationCustom01">Allergies(if any) </label>                                
                                <div class="custom-control-inline ">
                                    <input type="text" class="form-control form-control-sm" name="allergies" value="{{data.medical.allergies}}" id="validationCustom01" >
                                    
                                </div>

                                <label class="col-form-label col-4" for="validationCustom01">Dietary Restrictions </label>
                                <div class="custom-control-inline ">
                                    <input type="text" class="form-control form-control-sm" name="dietary_res" value="{{data.medical.dietary_restrictions}}" id="validationCustom01">
                                    
                                </div>                                            
                            </div>
                            <div class="col">
                                <label class="col-form-label col-4" for="validationCustom01">Epilepsy </label>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.epilepsy == True %}
                                    <input type="radio" checked id="epilepsy_1" name="epilepsy" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="epilepsy_1" name="epilepsy" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="epilepsy_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.epilepsy == False %}
                                    <input type="radio" checked id="epilepsy_2" name="epilepsy" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="epilepsy_2" name="epilepsy" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="epilepsy_2">No</label>
                                </div>

                                <label class="col-form-label col-4" for="validationCustom01">Diabetes </label>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.diabetes == True %}
                                    <input type="radio" checked id="diabetes_1" name="diabetes" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="diabetes_1" name="diabetes" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="diabetes_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.diabetes == False %}
                                    <input type="radio" checked id="diabetes_2" name="diabetes" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="diabetes_2" name="diabetes" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="diabetes_2">No</label>
                                </div>

                                
                                <label class="col-form-label col-4" for="validationCustom01">Tuberculosis </label>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.tuberculosis == True %}
                                    <input type="radio" checked id="tuberculosis_1" name="tuberculosis" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="tuberculosis_1" name="tuberculosis" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="tuberculosis_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.tuberculosis == False %}
                                    <input type="radio" checked id="tuberculosis_2" name="tuberculosis" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="tuberculosis_2" name="tuberculosis" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="tuberculosis_2">No</label>
                                </div>

                                
                                <label class="col-form-label col-4" for="validationCustom01">Maleria </label>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.maleria == True %}
                                    <input type="radio" checked id="maleria_1" name="maleria" value="True" class="custom-control-input">
                                    {% else %}
                                    <input type="radio" id="maleria_1" name="maleria" value="True" class="custom-control-input">
                                    {% endif %}
                                    <label class="custom-control-label" for="maleria_1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    {% if data.medical.maleria == False %}
                                    <input type="radio" checked id="maleria_2" name="maleria" value="False" class="custom-control-input">
                                    {%else%}
                                    <input type="radio" id="maleria_2" name="maleria" value="False" class="custom-control-input">
                                    {%endif%}
                                    <label class="custom-control-label" for="maleria_2">No</label>
                                </div>

                                
                                <label class="col-form-label col-4" for="validationCustom01">Others </label>
                                <div class="custom-control-inline ">
                                    <input type="text" class="form-control form-control-sm" name="others" value="{{data.medical.others}}" id="validationCustom01" >
                                    
                                </div>

                                
                                <label class="col-form-label col-4" for="id_physical_disabilities">Physical Disabilities </label>
                                <div class="custom-control-inline ">
                                    <input type="text" class="form-control form-control-sm" id="validationCustom01" value="{{data.medical.physical_disabilities}}" name="physical_disabilities" >
                                    
                                </div>
                                
                                <!-- <label class="col-form-label col-4" for="validationCustom01">Food Hnadling Preferences </label>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" checked class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">No Pork</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">No beef</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">Others</label>
                                </div> -->
                                
                                
                            </div>

                        </div>      
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </form>                                                          
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>