<div class="row">
    <!-- button to triger edit modal -->
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target="#willingness_modal"><i class="fa fa-edit"></i> Edit</button>
    <!-- Modal for Immigration -->
    <div class="modal fade" id="willingness_modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Willingness</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">          
                    <form class="needs-validation" method="POST" action="{% url 'edit_willingness' data.id%}" nonvaidate>{% csrf_token %}          
                    <div class="col">        
                        
                        <div class="form-group row rowleft ">                                                            
                            <label class="col-form-label col-5" for="validationCustom01">Able to handle pork? </label>
                            <div class="custom-control custom-radio custom-control-inline">       
                                {% if data.willingness.handle_pork == True %}                         
                                <input type="radio" checked id="handle_pork_1" name="handle_pork" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="handle_pork_1" name="handle_pork" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="handle_pork_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.handle_pork == False %}
                                <input type="radio" checked id="handle_pork_2" name="handle_pork" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="handle_pork_2" name="handle_pork" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="handle_pork_2">No</label>
                            </div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to eat pork? </label>
                            <div class="custom-control custom-radio custom-control-inline"> 
                                {% if data.willingness.eat_pork == True %}                               
                                <input type="radio" checked id="eat_pork_1" name="eat_pork" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="eat_pork_1" name="eat_pork" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="eat_pork_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.eat_pork == False %}
                                <input type="radio" checked id="eat_pork_2" name="eat_pork" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="eat_pork_2" name="eat_pork" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="eat_pork_2">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to handle beef? </label>
                            <div class="custom-control custom-radio custom-control-inline">       
                                {% if data.willingness.handle_beef == True %}                         
                                <input type="radio" checked id="handle_beef_1" name="handle_beef" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="handle_beef_1" name="handle_beef" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="handle_beef_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.handle_beef == False %}
                                <input type="radio" checked id="handle_beef_2" name="handle_beef" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="handle_beef_2" name="handle_beef" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="handle_beef_2">No</label> 
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to eat beef? </label>
                            <div class="custom-control custom-radio custom-control-inline"> 
                                {% if data.willingness.eat_beef == True %}                               
                                <input type="radio" checked id="eat_beef_1" name="eat_beef" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="eat_beef_1" name="eat_beef" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="eat_beef_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.eat_beef == False %}
                                <input type="radio" checked id="eat_beef_2" name="eat_beef" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="eat_beef_2" name="eat_beef" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="eat_beef_2">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to care for pets? </label>
                            <div class="custom-control custom-radio custom-control-inline">   
                                {% if data.willingness.care_pets == True %}                             
                                <input type="radio" checked id="care_pets_1" name="care_pets" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="care_pets_1" name="care_pets" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="care_pets_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.care_pets == False %}
                                <input type="radio" checked id="care_pets_2" name="care_pets" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="care_pets_2" name="care_pets" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="care_pets_2">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to wash car? </label>
                            <div class="custom-control custom-radio custom-control-inline"> 
                                {% if data.willingness.wash_car == True %}                               
                                <input type="radio" checked id="wash_car_1" name="wash_car" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="wash_car_1" name="wash_car" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="wash_car_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.wash_car == False %}
                                <input type="radio" checked id="wash_car_2" name="wash_car" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="wash_car_2" name="wash_car" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="wash_car_2">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-5" for="validationCustom01">Able to do gardening works? </label>
                            <div class="custom-control custom-radio custom-control-inline">             
                                {% if data.willingness.gardening_works == True %}                   
                                <input type="radio" checked id="gardening_work_1" name="gardening_works" value="True" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="gardening_work_1" name="gardening_works" value="True" class="custom-control-input">
                                {%endif%}
                                <label class="custom-control-label" for="gardening_work_1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                {% if data.willingness.gardening_works == False %}
                                <input type="radio" checked id="gardening_work_2" name="gardening_works" value="False" class="custom-control-input">
                                {% else %}
                                <input type="radio" id="gardening_work_2" name="gardening_works" value="False" class="custom-control-input">
                                {% endif %}
                                <label class="custom-control-label" for="gardening_work_2">No</label>
                            </div>
                            
                        
                        </div>                           

                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>                                            
