<div class="row">
    <!-- button to triger edit modal -->
    <button type="button" class="btn btn-secondary btn-flat btn-xs" data-toggle="modal" data-target="#rest_day_modal"><i class="fa fa-edit"></i> Edit</button>
    <!-- Modal for Immigration -->
    <div class="modal fade" id="rest_day_modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Rest Days</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" method="POST" action="{% url 'edit_rest_days' data.id%}" nonvaidate>{% csrf_token %}
                    <div class="col">
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Preferred No.of Rest Days / Month</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control form-control-sm" name="rest_day_no" value="{{data.rest_days.preferred_no_of_rest_days}}" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Willing to work on off-days </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="off_day_yes" name="off_day" value="True" class="custom-control-input">
                                <label class="custom-control-label" for="off_day_yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="off_day_no" name="off_day" value="False" class="custom-control-input">
                                <label class="custom-control-label" for="off_day_no">No</label>
                            </div>
                        </div>
                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Current Salary </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" name="current_salary" value="{{data.rest_days.current_salary}}" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Expected Salary </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" name="expected_salary" value="{{data.rest_days.expected_salary}}" id="validationCustom01" required="">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="form-group row rowleft ">
                            <label class="col-form-label col-4" for="validationCustom01">Remark </label>
                            <div class="col-md-8">
                                <!-- <input type="text" class="form-control form-control-sm" id="validationCustom01" required=""> -->
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" name="remark" rows="3"> {{data.rest_days.remark}}</textarea>
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>                                            
</div>